#avatar {
	position: absolute;
    top: 1%;
    right: 1%;
   }
img#photo {
	width: 100px;
	height: auto;
}
body {
   margin: 20px;
}
#skills {
	position: relative;
}
#clouds{
	position: absolute;
	left: 2%;
}
#iaac {
	position: absolute;
	left:12%;
}
#cicd {
	position: absolute;
	left:26%;
}
#build {
	position: absolute;
	left:36%;
}

#scripting {
	position: absolute;
	left:46%;
}
#telemetry {
	position: absolute;
	left:56%;
}
#db {
	position: absolute;
	left:66%;
}
#os {
	position: absolute;
	left:76%;
}
#java {
	position: absolute;
	left:86%;
}
#summary {
	top: 40%;
	position: absolute;
}
#experience {
	top: 70%;
	position: absolute;
}
